$primary-bgColor: rgba(0, 0, 0, 0.96);
$secondary-bgColor: rgba(23, 20, 37, 1);
$card-bgColor: rgba(20, 20, 20, 1);

$primary-color: rgb(35, 255, 1);
$secondary-color: rgb(42, 0, 255);

$blue-link-color: rgb(30, 97, 148);
$blue-hover-link-color: rgb(32, 136, 215);
$red-link-color: rgb(178, 38, 31);
$pink-link-color: rgb(255, 109, 101);
