$primary-fontFam:  'Encode Sans', sans-serif;
$heading-fontFam: 'PT Sans', sans-serif;
$alt-fontFam: 'Josefin Sans', sans-serif;

$primary-fontSize: 7vmin;
$medium-fontSize: 9vmin;
$large-fontSize: 10vmin;
$title-fontSize: 15vmin;
