@import '_colors';
@import '_fonts';
@import '_scrollbar';
@import 'projects';
@import 'links';

body {
	background-color: $primary-bgColor;
  color: $primary-color;
	font-family: $primary-fontFam; font-size: $primary-fontSize;
  text-align: center;
	justify-content: center;
	scroll-behavior: smooth;
}
hr.seperator {
	border: solid 0.3vmin;
	border-color: $primary-color;
	border-style: dashed;
}
br.no-select{
	user-select: none;
}
div.no-select {
	user-select: none;
}
*::selection {
	background-color: $secondary-bgColor;	color: $secondary-color;
}
h1.title {
  font-family: $heading-fontFam; font-size: $title-fontSize;
}
div.container {
  width: 60vw; height: auto;
  position: absolute; left: 20vw;
}
div.softwares-list {
	display: inline-grid;
	border: solid; border-width: 2px; border-radius: 10px;
	margin: 1vmin;
	padding: 1.25vmin;
}
div.softwares-container {
	font-size: 3vmin;
}
div.footnote-container {
	font-size: 4vmin;
	font-family: $alt-fontFam;
}
