@import 'anchors';
@import 'colors';
@import 'fonts';

div.desc-container {
  padding: 1vmin;
  font-size: 0.7em;
}
div.project-split {
  display: inline-table;
  width: 50%;
  justify-content: center;
  text-align: center;
}
div.built-list {
  margin: 0.4vmin;
  padding: 0.4vmin;
  font-size: 2vmin;
}
a.project-links{
  font-size: 1em;
  font-family: $heading-fontFam;
  font-weight: 600;
  &:hover {
    font-size: 1.1em;
  }
}
h2.heading {
  font-family: $alt-fontFam;
  user-select: none;
}
