---
import '../../static/styles/index.css';
import '../../static/styles/hire.css';
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="hire--container">
      <div class="hire--row">
        <a href="https://google.com" target="_blank">
          <img src="../../static/icons/resume-desktop.svg" />
        </a>
      </div>
    </div>
  </body>
</html>
