---
import '../../static/styles/index.css';
const url = "https://swapi.dev/api/people/";
let num = 1;
const res = await fetch(url + num);
const person = await res.json();
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Hello, {person.name}!</h1>
    <button onclick="darkMode()">switch</button>
    <svg>
        <rect class="btn" x="0" y="0" width="10" height="10" onclick="alert('click!')" />
        <!-- <rect width="300" height="100" fill="orange"/> -->
      <!-- <symbol viewBox='0 0 300 100' width='300' height='100'>
      </symbol> -->
    </svg>
  </body>
  <script is:global>
    function darkMode() {
      console.log('switching');
      let e = document.body;
      e.classList.toggle("dark");
    }
  </script>
</html>
