::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(35, 255, 1, 0.69);
}

::-webkit-scrollbar-thumb:hover {
  background: #23ff01;
}

a {
  font-family: "Encode Sans", sans-serif;
  text-decoration: none;
}

a.blue-links {
  color: #1e6194;
}
a.blue-links:hover {
  color: #2088d7;
}
a.blue-links:focus {
  color: #2088d7;
}

a.green-links {
  color: #23ff01;
}
a.green-links:hover {
  color: #2a00ff;
}
a.green-links:focus {
  color: #2a00ff;
}

a.red-links {
  color: #b2261f;
}
a.red-links:hover {
  color: #ff6d65;
}
a.red-links:focus {
  color: #ff6d65;
}

div.desc-container {
  padding: 1vmin;
  font-size: 0.7em;
}

div.project-split {
  display: inline-table;
  width: 50%;
  justify-content: center;
  text-align: center;
}

div.built-list {
  margin: 0.4vmin;
  padding: 0.4vmin;
  font-size: 2vmin;
}

a.project-links {
  font-size: 1em;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
}
a.project-links:hover {
  font-size: 1.1em;
}

h2.heading {
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
}

a {
  font-family: "Encode Sans", sans-serif;
  text-decoration: none;
}

a.blue-links {
  color: #1e6194;
}
a.blue-links:hover {
  color: #2088d7;
}
a.blue-links:focus {
  color: #2088d7;
}

a.green-links {
  color: #23ff01;
}
a.green-links:hover {
  color: #2a00ff;
}
a.green-links:focus {
  color: #2a00ff;
}

a.red-links {
  color: #b2261f;
}
a.red-links:hover {
  color: #ff6d65;
}
a.red-links:focus {
  color: #ff6d65;
}

h2, h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 9vmin;
}

table.links-table {
  width: 35vw;
  position: relative;
  left: 13vw;
}

a.blue-links {
  font-size: 1em;
}

body {
  background-color: rgba(0, 0, 0, 0.96);
  color: #23ff01;
  font-family: "Encode Sans", sans-serif;
  font-size: 7vmin;
  text-align: center;
  justify-content: center;
  scroll-behavior: smooth;
}

hr.seperator {
  border: solid 0.3vmin;
  border-color: #23ff01;
  border-style: dashed;
}

br.no-select {
  user-select: none;
}

div.no-select {
  user-select: none;
}

*::selection {
  background-color: #171425;
  color: #2a00ff;
}

h1.title {
  font-family: "PT Sans", sans-serif;
  font-size: 15vmin;
}

div.container {
  width: 60vw;
  height: auto;
  position: absolute;
  left: 20vw;
}

div.softwares-list {
  display: inline-grid;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 1vmin;
  padding: 1vmin;
}

div.softwares-container {
  font-size: 3vmin;
}

div.footnote-container {
  font-size: 4vmin;
  font-family: "Josefin Sans", sans-serif;
}
