<div>
  <div class="change-card">
    <div class="change-card__logo">
      <img src="https://d2glwx35mhbfwf.cloudfront.net/v13.0.0/logo-with-padding.svg" alt="UniMelb logo">
    </div>
    <div class="change-card__title">University of Melbourne</div>
  </div>
</div>
